{% if index %}
<header role="banner">
    <hgroup>
    <div class="jumbotron">
        <div class="container">
            Hi. I'm {{ AUTHOR }}.
            {% if SITESUBTITLE %}
            <h3 class="tagline">{{ SITESUBTITLE }}</h3>
            {% endif %}
        </div>
    </div>
    </hgroup>
</header>
{% else %}
    {% if page %}
        {% set title = page.title %}
    {% endif %}
    {% if title %}
        <header role="banner">
            <hgroup>
            <div class="jumbotron">
                <div class="container">
                {{ title }}
                </div>
            </div>
            </hgroup>
        </header>
    {% endif %}
{% endif %}
