// Add your custom styling here.
.badge {
    font-size: 12px;
    padding: 0px 4px 0px 4px;
}

.badge-tag {
    background: #616161;
}

.margin-archives {
    margin-top: 1em;
}

.footer p {
    font-size: 10px;
}

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-0 {
    font-size: 150%;
}
li.tag-1 {
    font-size: 120%;
}
li.tag-2 {
    font-size: 90%;
}
li.tag-3 {
    font-size: 70%;
}
