@import url(https://fonts.googleapis.com/css?family=PT+Serif);

/* ==========================================================================
 * General
 * ==========================================================================*/

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'PT Serif', serif;
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #3A4145;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
  list-style: circle outside; 
}
ol {
  list-style: decimal outside; 
}

article li {
    margin-left: 1.5em;
}


/* ==========================================================================
 * Header
 * ==========================================================================*/

.site-head {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5rem;
    text-align: center;
}

.blog-title {
    font-size: 6rem;
    letter-spacing: -1px;
}

.blog-description {
    font-size: 1.7rem;
    line-height: 1.5em;
}

.blog-index {
    width:80%;
    max-width: 900px;
    margin: auto;
}

/* ==========================================================================
 * Post and page styles
 * ==========================================================================*/

.post {
    margin-top: 4rem;
    position: relative;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
}

.post-title {
    margin:0;
    color: #222;
}

.post-title a {
    text-decoration: none;
    color: #222;
}

.post-excerpt p {
    margin: 1.6rem 0 0 0;
    font-size: 0.9em;
    line-height: 1.6em;
    display: inline;
}

.read-more {
    text-decoration: none;
}

.post-meta {
    display: inline-block;
    margin: 0 1rem 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #9EABB3;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.comments {
    width:80%;
    max-width: 900px;
    margin: 4rem auto;
}

.page-title {
    text-align: center;
}

/* ==========================================================================
 * Categories
 * ==========================================================================*/

.category-header {
    position: relative;
    max-width: 700px;
    margin: 4rem auto;
    border-bottom: 1px solid #EBF2F6;
    padding: 20px 0;
    text-align: center;
    color: #222;
}

.category {
    color: #9EABB3
}

.category li {
    list-style: none;
}

.category .oi , .category a {
    text-decoration: none;
    color: #222;
}

.category a:hover {
    text-decoration: underline;
}

/* ==========================================================================
 * Fotter
 * ==========================================================================*/

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7em;
}

footer a {
  color: #aaaaaa;
}

footer a:hover {
    text-decoration: none;
}


.footer-page {
  color: #aaaaaa;
  background: #f1f1f1;
  position: relative;
  margin: 8rem 0 0 0; 
  padding: 2rem;
  text-align:center;
}

/* Navbar */
.navbar {
    display: block; 
}
.navbar {
    border-top-width: 0; 
}
.navbar, 
.navbar-spacer {
    display: block;
    width: 100%;
    height: 5.6rem;
    background: rgb(248, 248, 248);
    z-index: 99;
    border-bottom: 1px solid rgb(231, 231, 231); 
    position: absolute;
    left: 0;
    top: 0;
}
.navbar-spacer {
    display: none; 
}
.navbar > .container {
    width: 100%; 
}
.navbar-list {
    list-style: none;
    margin-bottom: 0; 
}
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; 
}
.navbar-item.active {
    background: #dddddd; 
    color: rgb(58, 65, 69);
}
.navbar-link {
/*     text-transform: uppercase; */
/*     font-size: 11px; */
/*     font-weight: 600; */
    letter-spacing: .2rem;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    line-height: 5.5rem;
    color: rgb(119, 119, 119);
}
.navbar-list-social {
    list-style: none;
    margin-bottom: 0; 
    background: #ffff00;
}
.navbar-item-social {
    position: relative;
    float: left;
    margin-bottom: 0; 
}
.navbar-link-social {
    padding: 10px;
/*     text-transform: uppercase; */
/*     font-size: 11px; */
/*     font-weight: 600; */
/*     letter-spacing: .2rem; */
/*     margin-right: 35px; */
/*     text-decoration: none; */
     line-height: 6rem; 
     color: rgb(119, 119, 119);
/*     color: #222;  */
}

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; 
}
.has-docked-nav .navbar-spacer {
    display: block; 
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%; 
}

/* Popover */ 
.popover-content.open { 
    display: block; 
    visibility: visible;
} 
.popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -25%; 
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
    -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
         filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); 
}
.popover-content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    top: -8px;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover-wrapper:hover .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    display: block;
}
.popover-item:first-child .popover-link:after,
.popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; 
}
.popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; 
}
.popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; 
}
.popover-list {
    padding: 0;
    margin: 0;
    list-style: none; 
}
.popover-item {
    padding: 0;
    margin: 0; 
}
.popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; 
}
.popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; 
}
.popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; 
}
.popover-link:hover {
    color: #fff;
    background: #33C3F0; 
}
.popover-link:hover,
.popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; 
}
.popover-item.active {
    background: #33C3F0;
    color: #fff;
}
