<div class="collapse navbar-collapse" id="navbar-links">
    <ul class="nav navbar-nav">
      {% for title, link in MENUITEMS %}
        <li{% if page_name == title|lower %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li> 
      {% endfor %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
              {% endfor %}
            </ul>
        </li>
      {% endif %}
    </ul>

  {% if DISPLAY_PAGES_ON_MENU %}
    <ul class="nav navbar-nav">
      {% for p in PAGES %}
        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
    
    <ul class="nav navbar-nav pull-right">
      {% if KEYBASE_USER %}
        <li><a href="https://keybase.io/{{ KEYBASE_USER }}" title="Keybase.io Profile"><span class="socicon-keybase"></span></a></li>
      {% endif %}
      {% if GITHUB_USER %}
        <li><a href="https://github.com/{{ GITHUB_USER }}" title="Github Profile"><span class="socicon-github"></span></a></li>
      {% endif %}
      {% if RESEARCHGATE_USER %}
        <li><a href="https://www.researchgate.net/profile/{{ RESEARCHGATE_USER }}" title="ResearchGate Profile"><span class="socicon-researchgate"></span></a></li>
      {% endif %}
      {% if LINKEDIN_USER %}
        <li><a href="https://linkedin.com/in/{{ LINKEDIN_USER }}" title="Linkedin Profile"><span class="socicon-linkedin"></span></a></li>
      {% endif %}
      {% if TWITTER_USERNAME %}
        <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}" title="Twitter Profile"><span class="socicon-twitter"></span></a></li>
      {% endif %}
      {% if GOOGLEPLUS_USER %}
        <li><a href="https://plus.google.com/{{ GOOGLEPLUS_USER }}" title="Google+ Profile"><span class="socicon-google-plus"></span></a></li>
      {% endif %}
      {% if FACEBOOK_USER %}
        <li><a href="https://facebook.com/{{ FACEBOOK_USER }}" title="Facebook Profile"><span class="socicon-facebook"></span></a></li>
      {% endif %}
      {% if EMAIL %}
        <li><a href="mailto:{{ EMAIL }}" title="Email"><span class="socicon-mail"></span></a></li>
      {% endif %}
      {% if FEED_ALL_ATOM %}
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Atom Feed"><span class="socicon-rss"></span></a></li>
      {% endif %}
    </ul>
</div>
