:root {
    --primary-color: #ffffff;
    --secondary-color: #eeeeef;
    --tertiary-color: #efefef;
    --font-color: #000000;
    --link-color: #2698ba;
}

[data-theme="dark"] {
    --primary-color: #1c1c1d;
    --secondary-color: #111112;
    --tertiary-color: #424242;
    --font-color: #e8e8e8;
    --link-color: #2698ba;
}

html {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /* font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-weight: 300; */
    font-size: 15px;
    line-height: 1.6;
    color: var(--font-color);
    background: var(--primary-color);
    text-rendering: optimizeLegibility;
}

body {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    color: var(--link-color);
}

.index {
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.site-head {
    text-align: center;
}

.blog-title {
    font-size: 2.2em;
}

.blog-description {
    font-size: 1.8em;
}

.index .content {
    padding-right: 2em;
    /* min-width: 300px; */
    width: 75%;
    max-width: 720px;
    line-height: 1.5;
    flex-grow: 1;
}

.index aside {
    width: 20%;
    max-width: 100%;
    flex-grow: 1;
    background: var(--secondary-color);
    line-height: 1.3;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar div {
    padding: 10px;
    max-width: 200px;
    margin-bottom: 10px;
}

.navbar h2 {
    margin-top:0;
}

.photo {
    width: 100%;
    max-width: 200px;
}

footer {
    font-size: 0.7em;
    line-height: 1.7em;
    margin-top: 10px;
    width: 100%;
}

footer .footer-page {
    color: #aaaaaa;
    background: var(--tertiary-color);
    position: relative;
    padding: 2em 0 2em 0;
    text-align: center;
}

.page .title {
    text-align: center;
    display: block;
}

.page h1 {
    font-size: 1.8em;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li ul{
    list-style-type: none;
    margin-left: 1em;
    Padding: 0;
}

.navbar dt {
    margin-top: 10px;
}
.navbar dd {
    margin-left: 5px;
}

.blog-index article {
    margin-bottom: 1rem;
}

.blog-index article .post-meta {
    display: block;
}

.post header h2 {
    margin-bottom: 0px;
}

article .post-content {
}


code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
/*     border: 1px solid #E3EDF3; */
    background: #E2E2E2;
    border-radius: 2px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
/*     border: 1px solid #E3EDF3; */
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    overflow: auto;
    background: #474747;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    background: transparent;
    border: none;
    padding: 0;
}

table {
    padding: 0;
    margin:0;
    border-collapse: collapse;
}

td, th {
    margin: 0;
    padding: 10px;
    border-bottom: 2px var(--secondary-color) solid;
}

.center {
    text-align: center;
}

td img {
    max-width: 200px;
    max-height: 75px;
 }

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #f9f9f9);
}

.modalDialog pre {
    background: #ffffff
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
