<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ SITENAME }} - {% block title %}Home{% endblock %}</title>
  <meta name="author" content="{{ AUTHOR }}">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
  {% endif %}

  {% if EXTRA_HEADER %}
    {{ EXTRA_HEADER }}
  {% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <link href="{{ SITEURL }}/favicon.png" rel="icon">
  <link href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" media="screen, projection"
        rel="stylesheet" type="text/css">
  <script src="{{ SITEURL }}/js/jquery.js"></script>
  <script src="{{ SITEURL }}/js/bootstrap-collapse.js"></script>
  <script src="{{ SITEURL }}/js/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="{{ SITEURL }}/js/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"
        rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
        rel="stylesheet" type="text/css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="fui-menu-24"></span>
                </a>
                <div class="nav-collapse collapse navbar-responsive-collapse" style="height:0;">
                    <nav role="navigation">
                        {% include '_includes/navigation.html' %}
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="main">
        <div class="span12">
            <div class="row-fluid">
                <div id="content">
                    {% block content %}{% endblock %}    
                </div>
            </div>
            
            <div class="row-fluid footer">
                <footer class="footer-page" role="contentinfo">
                    {% include '_includes/footer.html' %}
                </footer>
            </div>
        </div>
    </div>
    {% include '_includes/after_footer.html' %}
</body>
</html>
