{% extends 'base.html' %}
{% block title %}Category: {{ category.name }}{% endblock %}

{% block content %}
{% set title = "Category: "+category.name %}
{% include '_includes/header.html' %}

<div clas id="blog-archives" class="category">
{% set first = 1%}
{% set this_year = 0 %}
{% for article in dates %}
  <div class="row-fluid">
    <div class="span1">

    {% if article.date|strftime('%Y') != this_year %}
      {% set this_year = article.date|strftime('%Y') %}
        <h1>{{ article.date|strftime('%Y') }}</h1>
    {% endif %}

    </div>

    {% if first %}
        {% set first = 0%}
        <div class="span11">
    {% else %}
       <div class="span11 border-top margin-archives">
    {% endif %}

      <article>
      {% include '_includes/article_archives.html' %}
      </article>
    </div>
  </div>
{% endfor %}
</div>


{% endblock %}
