{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
{% set title = "Categories" %}
{% include '_includes/header.html' %}




<div clas id="blog-index">
  {% for category, n in categories %}
    <div class="row-fluid">
        <div class="span11">
            <h1>
                <i class="icon-folder-open"></i>
                <a href="{{ category.url }}">{{ category }}</a>
            </h1>
            ({{ n|count }} articles)
        </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
