    {% if PHOTO %}
    <div>
    <img src="{{ PHOTO }}" alt="Photo" class="photo"/>
    </div>
    {% endif %}
    <div>
    <h2>Menu</h2>
    <ul>
    {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
        <li class="{% if p == page %} active{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    {% endif %}
    {% for title, link in MENUITEMS %}
        <li class="{% if page_name == title|lower %} active{% endif %}"><a href="{{ link }}">{{ title }}</a></li> 
    {% endfor %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
        <li class=" {% if page_name == 'categories' %}active{% endif %}">
            <a href="{{ SITEURL }}/categories.html">Categories</a>
            <ul>
              {% for cat, null in categories %}
                <li class="{% if cat == category %}active{% endif %}">
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                </li>
              {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if FEED_ALL_ATOM %}
        <li>
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Atom Feed">Atom feed</a>
        </li>
      {% endif %}
    </ul>
    </div>
    <div>
    <h2>Social links</h2>
    <dl class="social-links">
      {% if ORCID %}
        <dt>ORCID</dt>
        <dd><a href="https://orcid.org/{{ ORCID }}" title="ORCID: Open Researcher and Contributor ID">{{ ORCID }}</a></dd>
      {% endif %}
      {% if RESEARCHGATE_USER %}
        <dt>Researchgate</dt>
        <dd><a href="https://www.researchgate.net/profile/{{ RESEARCHGATE_USER }}" title="ResearchGate Profile">{{ RESEARCHGATE_USER }}</a></dd>
      {% endif %}
      {% if KEYBASE_USER %}
        <dt>Keybase</dt>
        <dd><a href="https://keybase.io/{{ KEYBASE_USER }}" title="Keybase.io Profile">{{ KEYBASE_USER }}</a></dd>
      {% endif %}
      {% if GITHUB_USER %}
        <dt>Github</dt>
        <dd><a href="https://github.com/{{ GITHUB_USER }}" title="Github Profile">{{ GITHUB_USER }}</a></dd>
      {% endif %}
      {% if LINKEDIN_USER %}
        <dt>Linkedin</dt>
        <dd><a href="https://linkedin.com/in/{{ LINKEDIN_USER }}" title="Linkedin Profile">{{ LINKEDIN_USER }}</a></dd>
      {% endif %}
      {% if TWITTER_USERNAME %}
        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/{{ TWITTER_USERNAME }}" title="Twitter Profile">@{{ TWITTER_USERNAME }}</a></dd>
      {% endif %}
      {% if EMAIL %}
        <dt>Email</dt>
        <dd><a href="mailto:{{ EMAIL }}" title="Email">{{ EMAIL }}</span></a></dd>
      {% endif %}
    </dl>
    </div>
