{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write(s);
        doc.close();
    }
</script>

<section id="content">
    <div class="container">
        <div class="row">
            <h2 class="entry-title">Publications (journals, book chapters and conferences)</h2>
            {% for year in publications|groupby('year')|reverse  %}
            <h3>{{ year.grouper}}</h3>
            <ul class="bib">
              {% for key, year, author, title, journal, text, bibtex, pdf, slides, poster in year.list %}
                <li id="{{ key }}">
                    {{text}} <br/>
                    [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                    {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                    {% endfor %}
                </li>
              {% endfor %}
            </ul>
            {% endfor %}
        <div class="row">
            An asterisk (*) denotes that I am the corresponding author.
        </div>
    </div>
</section>
{% endblock %}
